#container-bd{
    text-align: center;
    width: 650px;
    margin: 10px auto;
    color: aliceblue;
    padding-bottom: 8px;
}
h3{
    font-size: 20px;
}

#primeiro{
    height: 280px;
    width: 650px;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
#segundo{
    height: 280px;
    width: 650px;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
#terceiro{
    height: 310px;
    width: 650px;
    background-color: orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.semagua{
    height: auto;
    width: 150px;
    float: left;
    margin: 30px;
}

.comgas{
    height: auto;
    width: 150px;
    float: left;
    margin: 30px;
}

.aguacoco{
    height: auto;
    width: 150px;
    float: left;
    margin: 30px;
}

.corona{
    height: auto;
    width: 150px;
    float: left;
    margin: 10px;
    
}

.energetico{
    height: auto;
    width: 270px;
    float: right;
    margin: 10px;
       
}

.heineken{
    height: auto;
    width: 150px;
    float: right;
    margin: 10px;
    
}

.refrigerante{
    height: auto;
    width: 150px;
    float: right;
    margin: 15px;
}

.refrigerante{
    height: auto;
    width: 150px;
    float: left;
    margin: 25px;
}

.refrigerantelata{
    height: auto;
    width: 190px;
    float: left;
    margin: 25px;
}

.sucos{
    height: auto;
    width: 150px;
    float: right;
    margin: 25px;
}

.adicionar{
    border: none;
    border-radius: 14px;
    padding: 3px;
    box-shadow: 2px 2px 2px;
}