* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

.container {
    padding: 25px 10%;
    text-align: center;
}

.container .heading {
    font-size: 30px;
    padding-bottom: 25px;
    color: #fff;
}

.container #search-box {
    width: 600px;
    border: 3px solid #000;
    padding: 12px 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
}

.container .image-container {
    align-items: center;
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 30px;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.5) translateY(-10px);
        opacity: 0;
    }
}
.container .image-container .image {
    padding: 15px;
    background-color: #fff;
    display: flex;
    justify-content: baseline;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000;
    width: 550px;
    border-radius: 5px;
    animation: fadeIn 0.2s linear;
    cursor: pointer;
    justify-content: center;
}

.container .image-container .image img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.container .image-container .image img:hover {
    transform: scale(1.05) rotate(2deg);
    transition-duration: 300ms;

}

.container .image-container .image .text-des{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .image-container .image h3 {
    font-size: 20px;
    color: #2c3e50;
    padding-bottom: 20px;
}

