
footer{
    text-align: center;
    display: flex;
    color: black;
    background-color: orange;
}
h5{
    font-size: 15px;
    margin: 0px;
}

a{
    margin: 0px auto;
    text-decoration: none;
    align-self: baseline;
    color: aliceblue;
    padding-left: 10px;
}