
footer{
    color: black;
    background-color: rgb(255, 83, 3);
}

#rodape{
    text-align: start;
    padding: 10px;
}

#rodape h4{
    font-size: 20px;
}

.desenvolvimento{
    text-align: center;
    display: block;
}

.desenvolvimento h5{
    font-size: 15px;
    margin: 0px;
}

.desenvolvimento a, #rodape a{
    margin: 0px auto;
    text-decoration: none;
    color: aliceblue;
}