
footer{
    color: black;
    background-color: rgb(255, 83, 3);
}

.desenvolvimento{
    text-align: center;
    display: block;
    height: 70px;
}

.desenvolvimento h5{
    font-size: 15px;
    margin: 0px;
}

.desenvolvimento a, #rodape a{
    margin: 0px auto;
    text-decoration: none;
    color: aliceblue;
    
}